.c-col{
    &--2{
        > *{
            width:50%;
        }
    }
    &--sp100p{
        @media screen and (max-width: 799px) {
            > *{
                width:100%;
            }
        }
    }
}

.c-width{
    &--ss{
        width:100%;
        max-width:300px;
    }
    &--s{
        width:100%;
        max-width:500px;
    }
    &--m{
        width:100%;
        max-width:700px;
    }
    &--100p{
        width:100%;
    }
}

.c-box{
    &--1{
        position:relative;
        &__img{
            background-position:center;
            background-repeat: no-repeat;
            background-size:cover;
            width:50%;
            height:calc(100% - 80px);
            position: absolute;
            left:0;
            top:0;
            z-index:2;
            @media screen and (max-width: 799px) {
                position:relative;
                width:calc(100% - 20px);
                height:280px;
            }
        }
        &__cont{
            padding-top:80px;
            padding-left:calc(50% - 80px);
            position:relative;
            > div{
                padding:160px 80px 160px 160px;
                > div{
                    max-width:600px;
                }
            }
            @media screen and (max-width: 799px) {
                padding-top:0;
                padding-left:20px;
                > div{
                    padding: 80px 30px 30px;
                    margin-top: -50px;
                }
            }
        }
    }
}

.c-main{
    &--1{
        width:100%;
        height:calc(100vw / 3);
        &--bg1{
            background:url(../img/c-main--bg1.jpg) no-repeat center;
            background-size:cover;
        }
        &--bg2{
            background:url(../img/c-main--bg2.jpg) no-repeat center;
            background-size:cover;
        }
        &--bg3{
            background:url(../img/c-main--bg3.jpg) no-repeat center;
            background-size:cover;
        }
    }
    &--2{
        width:100%;
        height:100vh;
        display:flex;
        align-items: center;
        justify-content: center;
        background-size:cover;
        background-position:center;
        background-repeat: no-repeat;
        &--bg1{
            background-image:url(../img/c-main--bg1.jpg);
        }
        &--bg2{
            background-image:url(../img/c-main--bg2.jpg);
        }
        &--bg3{
            background-image:url(../img/c-main--bg3.jpg);
        }
        > h1{
            padding:30px 20px;
            font-size:5vw;
            color:#fff;
            text-shadow:0 0 10px rgba(0,0,0,0.4),0 0 10px rgba(0,0,0,0.4),0 0 10px rgba(0,0,0,0.4);
        }
        @media screen and (max-width: 799px) {
            height:340px;
            > h1{
                font-size:7vw;
            }
        }
    }
}

.c-contactbox{
    &--1{
        display:flex;
        justify-content: center;
        align-items: center;
        > div{
            padding:0 30px;
            &:first-child{
                border-right:1px solid #000;
            }
        }
        @media screen and (max-width: 799px) {
            display:block;
            > div{
                padding: 0 10px;
                text-align:center;
                &:first-child{
                    border:none;
                    margin-bottom:20px;
                }
            }
        }
    }
}