.c-btn{
    display:inline-flex;
    transition: all 0.4s;
    &--1{
        padding:10px 40px;
        border:1px solid #333;
        background:#fff;
        &:hover{
            background:#333;
            color:#fff;
        }
        @media screen and (max-width: 799px) {
            padding:10px 20px;
        }
    }
    &--brown{
        background:#A48B78;
    }
}

.c-pagetop{
    position: fixed;
    right:0;
    bottom:0;
}


