.c-headline{
    &--lowerh1{
        &--1{
            padding:50px 20px;
            font-size:34px;
            font-weight:bold;
            text-align:center;
            @media screen and (max-width: 799px) {
                padding:20px;
                font-size:24px;
            }
        }
        &--2{
            background:url(../img/dummy.jpg) no-repeat center;
            background-size:cover;
            height:400px;
            display:flex;
            flex-wrap:wrap;
            align-items: center;
            justify-content: center;
            font-size:34px;
            font-weight:bold;
            text-align:center;
            padding:0 20px;
            span{
                font-size:18px;
                width:100%;
                display:block;
            }
            @media screen and (max-width: 799px) {
                height:200px;
                font-size:24px;
            }
        }
    }
    &--1{
        margin-bottom:15px;
        padding-bottom:5px;
        border-bottom:1px solid #000;
        font-size:30px;
        font-weight:bold;
        @media screen and (max-width: 799px) {
            font-size:24px;
        }
    }
    &--2{
        margin-bottom:20px;
        border-left:10px solid #333;
        font-size:30px;
        font-weight:bold;
        padding:0 10px;
        @media screen and (max-width: 799px) {
            font-size:24px;
        }
    }
    &--3{
        margin-bottom:60px;
        font-size:34px;
        font-weight:bold;
        padding:0 10px;
        text-align:center;
        > span{
            display:inline-block;
            position:relative;
            &::after{
                width:80px;
                height:8px;
                background:#333;
                position: absolute;
                left:0;
                right:0;
                bottom:-20px;
                margin:0 auto;
                content:'';
            }
        }
        @media screen and (max-width: 799px) {
            margin-bottom:30px;
            font-size:26px;
            > span{
                &::after{
                    height:4px;
                    bottom:-10px;
                }
            }
        }
    }
    &--4{
        margin-bottom:60px;
        font-size:34px;
        font-weight:bold;
        > span{
            display:inline-block;
            position:relative;
            &::after{
                width:80px;
                height:8px;
                background:#333;
                position: absolute;
                left:0;
                bottom:-20px;
                margin:0 auto;
                content:'';
            }
        }
        @media screen and (max-width: 799px) {
            margin-bottom:30px;
            font-size:26px;
            > span{
                &::after{
                    height:4px;
                    bottom:-10px;
                }
            }
        }
    }
    &--5{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        padding-top:250px;
        > span{
            position:relative;
            display:block;
            &::before{
                position: absolute;
                left:0;
                top:0;
                content:'';
                width:100%;
                height:100%;
                mix-blend-mode: multiply;
                background:$base-color;
                opacity:0.8;
            }
            > span{
                display:block;
                max-width:1200px;
                margin-left:auto;
                margin-right:auto;
                padding:30px 0;
                color:#fff;
                font-size:34px;
                font-weight:bold;
                position:relative;
                z-index:2;
            }
        }
        &--bg1{
            background-image:url(../img/c-headline--5--bg1.jpg);
        }
        @media screen and (max-width: 799px) {
            padding:0;
            > span{
                >span{
                    padding:30px 20px;
                    font-size:24px;
                }
            }
        }
    }
}