.c-list{
    &--num{
        > li{
            list-style:decimal outside;
            margin-left:20px;
        }
    }
    &--disc{
        > li{
            list-style:disc outside;
            margin-left:20px;
        }
    }
    &--latin{
        > li{
            list-style:lower-latin outside;
            margin-left:20px;
        }
    }
    &--col3{
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        > *{
            width:calc(33% - 20px);
            @media screen and (max-width: 799px) {
                width:100%;
                + *{
                    margin-top:20px;
                }
            }
        }
    }
    &--info{
        //画像付きブログ風
        &--1{
            li{
                display:flex;
                +li{
                    margin-top:20px;
                }
            }
            &__eyecatch{
                flex-basis:300px;
                width:300px;
                @media screen and (max-width:799px){
                    flex-basis:120px;
                    width:120px;
                }
            }
            &__content{
                width:calc(100% - 300px);
                padding-left:20px;
                flex:1;
                &__date{
                    font-weight:bold;
                    color:#666;
                }
                h3{
                    font-size:18px;
                    font-weight:bold;
                }
            }
        }
        //画像なし1行
        &--2{
            li{
                display:flex;
                +li{
                    margin-top:10px;
                }
                > p{
                    font-weight:bold;
                    padding-right:20px;
                }
                > h3{
                    flex:1;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}