.c-table{
    
    &--1{
        th,td{
            padding:20px;
            border:1px solid #333;
            text-align:left;
            vertical-align: middle;
        }
        th{
            background:#efefef;
        }
        @media screen and (max-width: 799px) {
            th,td{
                padding:5px;
            }
        }
    }
}