.u-c{ //color
    &--red{
        &--1{
            color:#ff0000;
        }
    }
    &--bl{
        &--1{
            color:#00b0f0;
        }
        &--2{
            color:#2b426e;
        }
    }
    &--wh{
        &--1{
            color:#fff;
        }
    }
}

.u-bg{
    &--gr{
        &--1{
            background:#00ad9e;
        }
    }
    &--bl{
        &--1{
            background:#00b0f0;
        }
        &--2{
            background:#2b426e;
        }
    }
    &--gray{
        &--1{
            background:#efefef;
        }
    }
}