.ah{ //オーバー時半透明
    &:hover{
        opacity:0.7;
    }
}

.u-link{
    &--noline{
        text-decoration:none;
        &:hover{
            text-decoration:underline;
        }
    }
    &--line{
        text-decoration:underline;
        &:hover{
            text-decoration:none;
        }
    }
}