@charset "UTF-8";
/* ==========================================================================
 Foundation
============================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  counter-reset: followupnum; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: top;
  max-width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (min-width: 800px) {
  html, body {
    width: 100%;
    height: 100%;
    min-width: 1200px; } }

@media screen and (max-width: 799px) {
  html, body {
    width: 100%;
    height: 100%; } }

body {
  font-size: 16px;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  color: #333;
  word-break: break-all;
  line-height: 1.6; }

ul {
  list-style: none; }

em {
  font-weight: bold; }

a {
  color: #1a1a1a;
  cursor: pointer;
  outline: none;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

strong {
  font-weight: bold; }

address {
  font-style: normal; }

sub, sup {
  font-size: 10px; }

.bold {
  font-weight: bold; }

.nowrap {
  white-space: nowrap; }

iframe {
  vertical-align: top; }

/* ==========================================================================
 layout
============================================================================*/
@media screen and (min-width: 800px) {
  .l-header {
    margin: 0 auto;
    position: relative;
    z-index: 4000; }
    .l-header--1 {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      background: #fff;
      opacity: 0.9; }
      .l-header--1__inner {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 30px; }
        .l-header--1__inner__logo img {
          width: auto;
          height: auto;
          max-height: auto; }
        .l-header--1__inner__gnavi ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .l-header--1__inner__gnavi ul li + li {
            margin-left: 20px; }
          .l-header--1__inner__gnavi ul li a {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-weight: bold; }
            .l-header--1__inner__gnavi ul li a::after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: -5px;
              height: 3px;
              background: #000;
              width: 0%;
              margin: 0 auto;
              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s; }
            .l-header--1__inner__gnavi ul li a:hover::after {
              width: 100%;
              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s; }
    .l-header--2 {
      padding: 20px 0; }
      .l-header--2__inner {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto; }
        .l-header--2__inner__logo {
          text-align: center;
          margin-bottom: 10px; }
          .l-header--2__inner__logo img {
            width: auto;
            height: auto;
            max-height: 60px; }
        .l-header--2__inner__gnavi ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          .l-header--2__inner__gnavi ul li + li {
            margin-left: 30px; }
          .l-header--2__inner__gnavi ul li a {
            position: relative;
            font-weight: bold; }
            .l-header--2__inner__gnavi ul li a::after {
              content: '';
              position: absolute;
              left: 0;
              right: 0;
              bottom: -5px;
              height: 3px;
              background: #000;
              width: 0%;
              margin: 0 auto;
              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s; }
            .l-header--2__inner__gnavi ul li a:hover::after {
              width: 100%;
              -webkit-transition: all 0.2s;
              -o-transition: all 0.2s;
              transition: all 0.2s; } }

@media screen and (max-width: 799px) {
  .l-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 2000;
    background: #fff; }
    .l-header__inner__logo {
      height: 50px;
      width: calc(100% - 100px);
      text-align: left;
      padding-left: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .l-header__inner__logo img {
        max-height: 40px;
        width: auto; }
    .l-header__inner__gnavi .telbtn {
      width: 45px;
      height: 50px;
      position: absolute;
      right: 46px;
      top: 0;
      z-index: 1100;
      cursor: pointer;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff; }
    .l-header__inner__gnavi .menubtn {
      width: 45px;
      height: 50px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2000;
      cursor: pointer;
      color: #fff; }
      .l-header__inner__gnavi .menubtn::before {
        content: 'MENU';
        position: absolute;
        top: 3px;
        left: 0;
        font-size: 10px;
        width: 100%;
        text-align: center;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      .l-header__inner__gnavi .menubtn > span {
        position: absolute;
        width: 27px;
        height: 4px;
        left: 0;
        background: #fff;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: inline-block;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 20%; }
        .l-header__inner__gnavi .menubtn > span:nth-of-type(1) {
          top: 20px; }
        .l-header__inner__gnavi .menubtn > span:nth-of-type(2) {
          top: 26.5px; }
        .l-header__inner__gnavi .menubtn > span:nth-of-type(3) {
          top: 33.5px; }
      .l-header__inner__gnavi .menubtn.active::before {
        content: 'CLOSE';
        color: #fff; }
      .l-header__inner__gnavi .menubtn.active > span {
        background: #fff; }
        .l-header__inner__gnavi .menubtn.active > span:nth-of-type(1) {
          -webkit-transform: translateY(6.5px) rotate(-45deg);
          -ms-transform: translateY(6.5px) rotate(-45deg);
          transform: translateY(6.5px) rotate(-45deg);
          height: 6px; }
        .l-header__inner__gnavi .menubtn.active > span:nth-of-type(2) {
          opacity: 0; }
        .l-header__inner__gnavi .menubtn.active > span:nth-of-type(3) {
          -webkit-transform: translateY(-6.5px) rotate(45deg);
          -ms-transform: translateY(-6.5px) rotate(45deg);
          transform: translateY(-6.5px) rotate(45deg);
          height: 6px; }
    .l-header__inner__gnavi__menu {
      overflow-y: auto;
      display: none;
      background: rgba(33, 33, 33, 0.9);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000; }
      .l-header__inner__gnavi__menu ul {
        padding-top: 50px; }
        .l-header__inner__gnavi__menu ul li a {
          position: relative;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          color: #fff;
          padding: 20px; }
        .l-header__inner__gnavi__menu ul li + li {
          border-top: 1px solid #fff; } }

.l-footer--1 > div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
  border-top: 1px solid #ccc; }
  .l-footer--1 > div > p {
    text-align: center; }

.l-footer--2 > div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0; }
  .l-footer--2 > div > p {
    text-align: center; }

.l-footer--2__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px; }
  .l-footer--2__menu li {
    padding: 0 10px; }

.l-footer--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .l-footer--3 > div {
    width: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; }
  .l-footer--3__sitemap {
    padding: 80px 4vw; }
    .l-footer--3__sitemap__menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 20px; }
      .l-footer--3__sitemap__menu li {
        margin-right: 20px;
        padding: 5px 0; }
    .l-footer--3__sitemap address {
      margin-bottom: 20px; }
  @media screen and (max-width: 799px) {
    .l-footer--3 > div {
      width: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    .l-footer--3__sitemap {
      padding: 20px; } }

.l-wrapper {
  width: 100%;
  min-height: 100%;
  position: relative; }

.l-main {
  position: relative;
  padding-bottom: 130px; }
  @media screen and (max-width: 799px) {
    .l-main {
      padding: 0 0 40px; } }
  .l-main--col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; }
    .l-main--col2 .l-contents {
      width: calc(100% - 320px - 40px); }
      @media screen and (max-width: 799px) {
        .l-main--col2 .l-contents {
          width: 100%;
          -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
          order: 1; } }
    .l-main--col2 .l-side {
      width: 320px;
      margin-right: 40px; }
      @media screen and (max-width: 799px) {
        .l-main--col2 .l-side {
          width: 100%;
          -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
          order: 2;
          margin: 40px 20px 0; } }

.l-section__basic {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 0; }
  @media screen and (max-width: 799px) {
    .l-section__basic {
      padding: 30px 20px; } }

.l-section__p50 {
  padding: 50px 0; }
  @media screen and (max-width: 799px) {
    .l-section__p50 {
      padding: 20px 0; } }

@media screen and (max-width: 799px) {
  .l-main {
    position: relative; }
  .l-section__base {
    padding: 20px; } }

/* ==========================================================================
 object
============================================================================*/
/* Component
    ----------------------------------------------------------------- */
.c-headline--lowerh1--1 {
  padding: 50px 20px;
  font-size: 34px;
  font-weight: bold;
  text-align: center; }
  @media screen and (max-width: 799px) {
    .c-headline--lowerh1--1 {
      padding: 20px;
      font-size: 24px; } }

.c-headline--lowerh1--2 {
  background: url(../img/dummy.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  padding: 0 20px; }
  .c-headline--lowerh1--2 span {
    font-size: 18px;
    width: 100%;
    display: block; }
  @media screen and (max-width: 799px) {
    .c-headline--lowerh1--2 {
      height: 200px;
      font-size: 24px; } }

.c-headline--1 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  font-size: 30px;
  font-weight: bold; }
  @media screen and (max-width: 799px) {
    .c-headline--1 {
      font-size: 24px; } }

.c-headline--2 {
  margin-bottom: 20px;
  border-left: 10px solid #333;
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px; }
  @media screen and (max-width: 799px) {
    .c-headline--2 {
      font-size: 24px; } }

.c-headline--3 {
  margin-bottom: 60px;
  font-size: 34px;
  font-weight: bold;
  padding: 0 10px;
  text-align: center; }
  .c-headline--3 > span {
    display: inline-block;
    position: relative; }
    .c-headline--3 > span::after {
      width: 80px;
      height: 8px;
      background: #333;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      margin: 0 auto;
      content: ''; }
  @media screen and (max-width: 799px) {
    .c-headline--3 {
      margin-bottom: 30px;
      font-size: 26px; }
      .c-headline--3 > span::after {
        height: 4px;
        bottom: -10px; } }

.c-headline--4 {
  margin-bottom: 60px;
  font-size: 34px;
  font-weight: bold; }
  .c-headline--4 > span {
    display: inline-block;
    position: relative; }
    .c-headline--4 > span::after {
      width: 80px;
      height: 8px;
      background: #333;
      position: absolute;
      left: 0;
      bottom: -20px;
      margin: 0 auto;
      content: ''; }
  @media screen and (max-width: 799px) {
    .c-headline--4 {
      margin-bottom: 30px;
      font-size: 26px; }
      .c-headline--4 > span::after {
        height: 4px;
        bottom: -10px; } }

.c-headline--5 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px; }
  .c-headline--5 > span {
    position: relative;
    display: block; }
    .c-headline--5 > span::before {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      background: #2b426e;
      opacity: 0.8; }
    .c-headline--5 > span > span {
      display: block;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 30px 0;
      color: #fff;
      font-size: 34px;
      font-weight: bold;
      position: relative;
      z-index: 2; }
  .c-headline--5--bg1 {
    background-image: url(../img/c-headline--5--bg1.jpg); }
  @media screen and (max-width: 799px) {
    .c-headline--5 {
      padding: 0; }
      .c-headline--5 > span > span {
        padding: 30px 20px;
        font-size: 24px; } }

.c-col--2 > * {
  width: 50%; }

@media screen and (max-width: 799px) {
  .c-col--sp100p > * {
    width: 100%; } }

.c-width--ss {
  width: 100%;
  max-width: 300px; }

.c-width--s {
  width: 100%;
  max-width: 500px; }

.c-width--m {
  width: 100%;
  max-width: 700px; }

.c-width--100p {
  width: 100%; }

.c-main--1 {
  width: 100%;
  height: calc(100vw / 3); }
  .c-main--1--bg1 {
    background: url(../img/c-main--bg1.jpg) no-repeat center;
    background-size: cover; }
  .c-main--1--bg2 {
    background: url(../img/c-main--bg2.jpg) no-repeat center;
    background-size: cover; }
  .c-main--1--bg3 {
    background: url(../img/c-main--bg3.jpg) no-repeat center;
    background-size: cover; }

.c-main--2 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .c-main--2--bg1 {
    background-image: url(../img/c-main--bg1.jpg); }
  .c-main--2--bg2 {
    background-image: url(../img/c-main--bg2.jpg); }
  .c-main--2--bg3 {
    background-image: url(../img/c-main--bg3.jpg); }
  .c-main--2 > h1 {
    padding: 30px 20px;
    font-size: 5vw;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 799px) {
    .c-main--2 {
      height: 340px; }
      .c-main--2 > h1 {
        font-size: 7vw; } }

.c-list--num > li {
  list-style: decimal outside;
  margin-left: 20px; }

.c-list--disc > li {
  list-style: disc outside;
  margin-left: 20px; }

.c-list--latin > li {
  list-style: lower-latin outside;
  margin-left: 20px; }

.c-list--col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .c-list--col3 > * {
    width: calc(33% - 20px); }
    @media screen and (max-width: 799px) {
      .c-list--col3 > * {
        width: 100%; }
        .c-list--col3 > * + * {
          margin-top: 20px; } }

.c-list--info--1 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-list--info--1 li + li {
    margin-top: 20px; }

.c-list--info--1__eyecatch {
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  width: 300px; }
  @media screen and (max-width: 799px) {
    .c-list--info--1__eyecatch {
      -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
      width: 120px; } }

.c-list--info--1__content {
  width: calc(100% - 300px);
  padding-left: 20px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .c-list--info--1__content__date {
    font-weight: bold;
    color: #666; }
  .c-list--info--1__content h3 {
    font-size: 18px;
    font-weight: bold; }

.c-list--info--2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .c-list--info--2 li + li {
    margin-top: 10px; }
  .c-list--info--2 li > p {
    font-weight: bold;
    padding-right: 20px; }
  .c-list--info--2 li > h3 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; }

.c-table--1 th, .c-table--1 td {
  padding: 20px;
  border: 1px solid #333;
  text-align: left;
  vertical-align: middle; }

.c-table--1 th {
  background: #efefef; }

@media screen and (max-width: 799px) {
  .c-table--1 th, .c-table--1 td {
    padding: 5px; } }

.c-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  .c-btn--1 {
    padding: 10px 40px;
    border: 1px solid #333;
    background: #fff; }
    .c-btn--1:hover {
      background: #333;
      color: #fff; }
    @media screen and (max-width: 799px) {
      .c-btn--1 {
        padding: 10px 20px; } }
  .c-btn--brown {
    background: #A48B78; }

.c-pagetop {
  position: fixed;
  right: 0;
  bottom: 0; }

.c-breadcrumbs {
  max-width: calc(1200px + 40px);
  padding: 20px;
  margin: 0 auto;
  font-size: 14px; }
  @media screen and (max-width: 799px) {
    .c-breadcrumbs {
      margin: 50px 0 0; } }
  .c-breadcrumbs ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    .c-breadcrumbs ul li {
      position: relative; }
      .c-breadcrumbs ul li + li {
        margin-left: 20px; }
        .c-breadcrumbs ul li + li::before {
          content: '>';
          position: absolute;
          left: -15px; }
      .c-breadcrumbs ul li a {
        text-decoration: underline; }

.wp-pagenavi {
  text-align: center; }
  .wp-pagenavi span, .wp-pagenavi a {
    display: inline-block;
    margin: 0 5px;
    border: 1px solid #999;
    background: #f2f2f2;
    border-radius: 5px;
    padding: 0px 10px; }
  .wp-pagenavi .current {
    background: #00ad9e;
    color: #fff; }

@media screen and (max-width: 799px) {
  .wp-pagenavi a.smaller,
  .wp-pagenavi a.larger,
  .wp-pagenavi span.extend {
    display: none; } }

input[type="submit"] {
  -webkit-appearance: none; }

input::-webkit-input-placeholder {
  color: #999; }

input:-ms-input-placeholder {
  color: #999; }

input::-ms-input-placeholder {
  color: #999; }

input::placeholder {
  color: #999; }

input, button {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif; }

input[type="text"], textarea {
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%; }

input[type="radio"] {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

label {
  display: block; }

button {
  border: none;
  background: none;
  cursor: pointer; }

/* Project
    ----------------------------------------------------------------- */
.p-home .l-wrapper {
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover; }

@media screen and (min-width: 800px) {
  .p-home .l-header__logo {
    display: none; } }

.p-home__catch {
  margin: 240px 0; }
  @media screen and (max-width: 799px) {
    .p-home__catch {
      margin: 100px 20px 60px; } }

.p-home__sec1 {
  max-width: 1000px;
  margin: 0 auto; }
  .p-home__sec1__box {
    width: calc(50% - 40px); }
    @media screen and (max-width: 799px) {
      .p-home__sec1__box {
        width: 100%; } }
  .p-home__sec1__thumb {
    width: 150px; }
    @media screen and (max-width: 799px) {
      .p-home__sec1__thumb {
        width: 120px; }
        .p-home__sec1__thumb img {
          max-width: 120px; } }
  .p-home__sec1__text {
    width: calc(100% - 150px); }

@media screen and (min-width: 800px) and (max-width: 799px) {
  .p-recruit .l-header {
    margin: 100px 20px 60px; } }

@media screen and (max-width: 799px) {
  .p-recruit .c-breadcrumbs {
    margin-top: 94px; } }

.p-recruit__gnavi {
  height: 70px;
  position: relative; }
  .p-recruit__gnavi > div {
    background: rgba(0, 123, 187, 0.7); }
  .p-recruit__gnavi.fixed-gnavi > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
  .p-recruit__gnavi ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70px; }
    .p-recruit__gnavi ul li {
      padding: 0 25px; }
      .p-recruit__gnavi ul li a {
        font-size: 16px;
        color: #fff;
        position: relative; }
        .p-recruit__gnavi ul li a::after {
          height: 2px;
          background: #fff;
          position: absolute;
          bottom: -10px;
          left: 0;
          content: '';
          width: 100%; }
        .p-recruit__gnavi ul li a:hover::after {
          display: none; }
  @media screen and (max-width: 799px) {
    .p-recruit__gnavi {
      background: #007bbb;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: auto; }
      .p-recruit__gnavi.fixed-gnavi {
        top: 50px; }
      .p-recruit__gnavi > div > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        height: 44px;
        cursor: pointer;
        color: #fff; }
      .p-recruit__gnavi ul {
        display: none;
        height: auto;
        padding-bottom: 30px; }
        .p-recruit__gnavi ul li {
          width: 48%;
          padding: 10px 25px;
          display: inline-block; }
          .p-recruit__gnavi ul li a {
            display: block;
            width: 100%; } }

.p-recruit__box1 {
  max-width: 1000px;
  margin: 0 auto;
  position: relative; }
  @media screen and (max-width: 799px) {
    .p-recruit__box1 {
      margin-bottom: 20px; } }
  .p-recruit__box1__catch {
    position: absolute;
    top: 10%;
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: #19b7ef;
    text-shadow: 0 0 20px #fff,0 0 20px #fff,0 0 20px #fff,0 0 20px #fff; }
    @media screen and (max-width: 799px) {
      .p-recruit__box1__catch {
        top: 5%;
        font-size: 6vw; } }
  .p-recruit__box1__inner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: 0 auto;
    padding: 30px;
    max-width: 700px;
    width: 100%;
    background: rgba(255, 255, 255, 0.7); }
    @media screen and (max-width: 799px) {
      .p-recruit__box1__inner {
        position: relative;
        bottom: 0; } }
    .p-recruit__box1__inner p {
      font-size: 20px;
      display: block;
      text-align: center;
      text-shadow: 0 0 20px #fff,0 0 20px #fff,0 0 20px #fff,0 0 20px #fff;
      margin-bottom: 20px; }
      @media screen and (max-width: 799px) {
        .p-recruit__box1__inner p {
          font-size: 18px; } }
    .p-recruit__box1__inner a {
      display: block;
      max-width: 320px;
      background: #007bbb;
      margin: 0 auto;
      padding: 10px;
      color: #fff;
      text-align: center; }
      .p-recruit__box1__inner a span {
        font-size: 20px;
        display: block;
        text-align: center; }

/* Utility
    ----------------------------------------------------------------- */
.clearfix:after {
  content: "";
  clear: both;
  display: block; }

.u-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .u-flex--wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .u-flex--center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .u-flex--vcenter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .u-flex--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .u-flex--around {
    -ms-flex-pack: distribute;
    justify-content: space-around; }

.u-c--red--1 {
  color: #ff0000; }

.u-c--bl--1 {
  color: #00b0f0; }

.u-c--bl--2 {
  color: #2b426e; }

.u-c--wh--1 {
  color: #fff; }

.u-bg--gr--1 {
  background: #00ad9e; }

.u-bg--bl--1 {
  background: #00b0f0; }

.u-bg--bl--2 {
  background: #2b426e; }

.u-bg--gray--1 {
  background: #efefef; }

.u-margin--auto {
  margin: auto; }

.u-margin--ud-auto {
  margin-top: auto;
  margin-bottom: auto; }

.u-margin--lr-auto {
  margin-left: auto;
  margin-right: auto; }

.u-margin--bss {
  margin-bottom: 10px; }
  @media screen and (max-width: 799px) {
    .u-margin--bss {
      margin-bottom: 5px; } }

.u-margin--bs {
  margin-bottom: 20px; }
  @media screen and (max-width: 799px) {
    .u-margin--bs {
      margin-bottom: 10px; } }

.u-margin--bm {
  margin-bottom: 40px; }
  @media screen and (max-width: 799px) {
    .u-margin--bm {
      margin-bottom: 20px; } }

.u-margin--bl {
  margin-bottom: 60px; }
  @media screen and (max-width: 799px) {
    .u-margin--bl {
      margin-bottom: 30px; } }

.u-margin--lrs {
  margin-left: 10px;
  margin-right: 10px; }

.u-margin--lrm {
  margin-left: 20px;
  margin-right: 20px; }

.u-padding--s {
  padding: 10px; }

.u-padding--m {
  padding: 20px; }

.ah:hover {
  opacity: 0.7; }

.u-link--noline {
  text-decoration: none; }
  .u-link--noline:hover {
    text-decoration: underline; }

.u-link--line {
  text-decoration: underline; }
  .u-link--line:hover {
    text-decoration: none; }

.u-ta--center {
  text-align: center !important; }

.u-ta--left {
  text-align: left !important; }

.u-ta--right {
  text-align: right !important; }

@media screen and (min-width: 800px) {
  .u-float--l {
    float: left; }
  .u-float--r {
    float: right; } }

/*for wordpress - single.php*/
.aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.u-font--m {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }

.u-font--sss {
  font-size: 10px; }

.u-font--ss {
  font-size: 12px; }

.u-font--sm {
  font-size: 16px; }

.u-font--sl {
  font-size: 18px; }

.u-font--s2l {
  font-size: 20px; }

.u-font--s3l {
  font-size: 24px; }
  @media screen and (max-width: 799px) {
    .u-font--s3l {
      font-size: 22px; } }

.u-font--s4l {
  font-size: 28px; }
  @media screen and (max-width: 799px) {
    .u-font--s4l {
      font-size: 24px; } }

.u-font--shadow {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

.u-indent--1 {
  text-indent: -1em;
  margin-left: 1em; }

.u-lineheight--1 {
  line-height: 1; }

.u-border--gray1 {
  border: 1px solid #ccc; }

/*fontawesome*/
.fas {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle; }

.u-shadow {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); }

@media screen and (max-width: 799px) {
  .u-spw100p {
    width: 100%; } }

@media screen and (min-width: 800px) {
  .sp {
    display: none !important; } }

@media screen and (max-width: 799px) {
  .pc {
    display: none !important; } }
